[2018-08-07 22:40] jrobinso opened #4 "Dont output index files"
Don't include index files  (.fai, .bai, .tbi, .idx) in the generated html.   They will not be used.

[2018-11-29 20:06] alexjfortuna opened #11 "Where does the html file come from?"

[2018-11-29 20:09] alexjfortuna commented on #11
From Fusion inspector I have the following files, and I would like to generate a fusion report:

chckpts_dir/
cytoBand.txt                                                                      finspector.gtf
finspector.bed                                                                    finspector.igv.FusionJuncSpan
finspector.bed.sorted.bed.gz

[2018-11-30 00:42] brianjohnhaas commented on #11
Hi,

If you're using the current production version, then you would use the
stand-alone desktop igv viewer as shown:
https://github.com/FusionInspector/FusionInspector/wiki

IGV-js support in the non-galaxy-based deployment will be fully supported
in the next FI release, early next year.

hope this helps,

~b

On Thu, Nov 29, 2018 at 3:09 PM alexjfortuna <notifications@github.com>
wrote:

--
--
Br

[2018-11-30 01:47] jrobinso commented on #11
@alexjfortuna as Brian indicates this is a pre-release non supported project at present.  However, if you want to give it a try you can try the html file at in example/FI_viewer/igvjs_fusion.html.  There are references to the other files you mention in the html file itself, which should be considered a template.  Its simplest to put it in the same directory as the other files.     Then run as indi

[2019-01-09 01:57] jrobinso opened #13 "Support non-indexed track files"
Support non-indexed track files, perhaps with a maximum size limit.

[2019-02-23 20:48] johanneskoester opened #15 "<DEL> in alt field leads to crossed out entry in table"
When a VCF file contains a `<DEL>` allele, the corresponding entry in the HTML table is not rendered correctly. Seems like the `<DEL>` is interpreted as HTML tag. I suggest to escape all VCF entries before rendering them in the table.

![igv-report-del-bug](https://user-images.githubusercontent.com/1858646/53291513-9aaa3e00-37b4-11e9-9cad-1b1f0752fb31.png)

[2019-02-23 22:16] jrobinso commented on #15
Thanks for the report.  This is still in beta test phase,  I'm interested to learn more about how its being used if you care to share.

[2019-02-23 22:18] johanneskoester commented on #15
Sure. I am evaluating the use in a personalized medicine pipeline, where tumor somatic variants are called on patient data.

[2019-02-23 22:19] johanneskoester opened #16 "Allow selecting fields from the sample columns."
As the title says, it would be great if per-sample annotation could be selected similar to info fields.

[2019-02-23 22:21] jrobinso commented on #15
Good to know, that's just the sort of application I had in mind.   I'll attend to this later today.

[2019-02-23 22:45] johanneskoester opened #17 "Display ID column in table"
Usually, the ID column is used to present association with known variants. The table should be able to show this information. Ideally, it the user should be able to specify a URL pattern that shall be applied to the ID column in order to allow for a linkout. If nothing is provided the linkout could simply google the ID, or apply some heuristics to guess what should be the pattern. E.g., something

[2019-02-24 06:30] jrobinso commented on #17
Thanks @johanneskoester Good suggestions,  I will set aside some time next week to work through these.

[2019-02-25 13:55] johanneskoester opened #18 "Present ANN field in a visual way"
The table should automatically present the ANN field in a more accessible way. As far as I know it is now standardized across multiple annotation tools. I guess what makes sense is the following:

* Split by comma.
* Sort resulting items by impact.
* Have a nested table with the fields that are separated by pipes as columns.
* To save space, maybe only the first row should be shown and the others

[2019-02-27 13:09] johanneskoester opened #21 "Not all reads displayed"
When I view my rendered HTMLs in the browser, it seems that at highly covered loci not all reads are displayed in the IGV panel. Is a downsampling step involved?

[2019-02-27 17:48] jrobinso commented on #18
I specifically do not use any frameworks in the template to keep it as light as possible.  However, the intent is to support other templates (user supplied) where this could be done.

[2019-02-27 17:48] jrobinso commented on #13
Done

[2019-02-27 17:48] #13 closed

[2019-02-27 17:49] #11 closed

[2019-02-27 17:49] #4 closed

[2019-02-27 17:54] jrobinso commented on #21
Downsampling occurs in igv.js itself.   See the https://github.com/igvteam/igv.js/wiki/Alignment-Track.  This is configurable but there is currently no way to set track configuration parameters in igv-reports.   For this particular class we could add a command-line flag  "no downsampling",  this would set the track config parameter "samplingDepth" to a very large number.   As a test try hardcoding

[2019-03-12 19:50] binfyun opened #23 "BAM files size limitation"
Hi,
It seems that there is a limitation on how many reads you can load in the html output?
A couple tries, looks like:
1. Cannot display the tumor and its matched normal reads(beneath the tumor read window) at the same time?
2. Not all mutations' reads are displayed in the read window

Thanks

[2019-03-12 22:24] jrobinso commented on #23
There's no limit that I'm aware of,  and I don't understand your points 1 and 2.   You can load as many tracks as you like (e.g. 1 for tumor and 1 for normal).

Please provide more details, and ideally a test case to reproduce problems you are having.  Or at the minimum screenshots.

[2019-03-20 00:38] binfyun commented on #23
Hi @jrobinso, thank you for the reply

So this is what I ran:
"create_report 35439742-T_Matched_annovar.vcf_processed.vcf.gz Homo_sapiens_assembly19.fasta --ideogram cytoBand.txt --flanking 1000 --infoColumns GENE,COSMIC_ID --tracks 35439742-T_Matched_annovar.vcf_processed.vcf.gz,35439742-T_bc276_IMPACTv6-CLIN-20190168_L000_mrg_cl_aln_srt_MD_IR_BR.bam"

dummy vcf file attached:
[Matched_annovar.vc

[2019-03-20 03:21] jrobinso commented on #23
Its impossible for me to help with this without an example case I can run.

What happens if you load the bam into IGV desktop and go to the locations specified in your VCF?

[2019-03-20 03:42] jrobinso commented on #23
BTW the bam file I'm testing on is ~300 GB

[2019-03-20 04:33] binfyun commented on #23
Attached screenshot for KRAS 12:25398281 in IGV:
![Screen Shot 2019-03-20 at 12 28 54 AM](https://user-images.githubusercontent.com/10803002/54659266-7ab22580-4aa7-11e9-92dc-65915f1a2ac7.png)

I had attached a subset of the variants (
[Matched_annovar.vcf_processed_subset.txt](https://github.com/igvteam/igv-reports/files/2986519/Matched_annovar.vcf_processed_subset.txt)
) I used from the above exa

[2019-03-20 04:39] jrobinso commented on #23
We're not communicating.   I need a command line I can run,  the VCF is not enough.    If you can create an example you can zip up I will look into it.     Include the command line you used  in the zip, as a .txt or .sh file.   First unzip it yourself and insure that it runs without error.   Is that cleare enough?  You can use samtools to extract a small portion of your bam for this.

[2019-03-20 04:41] jrobinso commented on #23
BTW,  I see reference to some broad filepaths in your VCF.   I have access to the Broad filesystem if your files are there.

[2019-03-20 05:12] binfyun commented on #23
If you have everything set up and ready to go, can't you just run the following command from your end? (ignore the ideogram and additional tracks for now, just provide reference genome and BAM file)
create_report "the vcf subset i had attached" "your hg19 reference genome" --flanking 1000 --infoColumns GENE,COSMIC_ID --tracks "your BAM file"

[2019-03-20 06:52] jrobinso commented on #23
Yes I can, works perfectly.   Did you see the example in the repository?

[2019-03-20 07:04] jrobinso commented on #23
Are there any errors in your console?

[2019-03-20 07:22] jrobinso commented on #23
There's something odd here,  I'm not sure what and its getting late.   I'll pick it up tomorrow.

[2019-03-20 07:32] jrobinso commented on #23
Are you sure your bam sequence names are "1, 2, 3,..." etc and not  "chr1, chr2, chr3..."?    They need to match the vcf and fasta.

[2019-03-20 07:50] jrobinso commented on #23
The following runs without error and produces a report with alignments at every variant

[code]

BTW in the next release the infoColumns and tracks parameters are changing to be posix compliant, the above would be

[code]

[2019-03-20 17:04] binfyun commented on #23
Yes they are

[2019-03-20 17:06] jrobinso commented on #23
So since your command works with the BAM noted above I don't know what to do with this without access to the BAM.

[2019-03-20 17:09] jrobinso commented on #23
Here's the resulting report.
[igvjs_viewer.html.zip](https://github.com/igvteam/igv-reports/files/2989299/igvjs_viewer.html.zip)

[2019-03-21 02:26] jrobinso commented on #23
I'm going to close this since the answer to the original question is no, there is no bam file size limitation.  If you are able to create a test case I can reproduce please open a new issue.

[2019-03-21 02:26] #23 closed

[2019-04-16 17:29] binfyun opened #24 "High coverage BAMs needs to be downsampled in order to show reads"
Hi,

I was able to display reads on two(T and N) bam tracks but only via downsampling the BAMs.  The downsample method I did removes the reads randomly and thus removes the alt reads (the variants). My questions are:

1. Is there a way to modify this limitation? (There was a similar post about not all reads displayed but I am sure if this is a related issue)
2. If 1. is not possible,  can you sugg

[2019-04-16 17:55] jrobinso commented on #24
Hi, what version were you using?   I removed a limitation on the size of the session blob with a recent commit,  if you use the latest release (0.9.0) you will find it handles many more reads.  Of course there will always be a limitation,  your computer does not have infinite memory,  but it is larger now.

You will have to script something yourself to do downsampling that returns the alt reads.

[2019-04-16 17:55] #24 closed

[2019-04-16 20:19] binfyun commented on #24
Hm..OK . Will give it a try,  Thank you.

[2019-04-17 17:18] binfyun opened #25 "Sorting option"
Hi,

Is there a way to add more sorting options to the popup window when clicking on the reads.

Thanks

[2019-04-17 18:01] jrobinso commented on #25
Hi Binfyun,

What would you like to sort by?

This is really an igv.js question,  but I assume you are using igv.js in the context of igv-reports?

[2019-04-17 19:45] binfyun commented on #25
Hi @jrobinso
Firing up IGV Apps and loading BAMs remotely are oftentimes troublesome.
Our goal is to be able to quickly and instantly visualize and ascertain certain variants during a meeting with the pathologist.

Sort by insert size and chromosome of mate would be useful 👍

[2019-04-17 19:50] jrobinso commented on #25
@binfyun Yes, that is exactly the use case igv-reports is designed for.  Please keep me informed on progress here, it's important for us to know.

I can add those sort options (again, this is really done in igv.js).   However you do understand that sorting is for a specific locus (base),  alignments that intersect that locus will be sorted by the chosen attribute.  Alignments that don't intersect

[2019-04-19 19:07] binfyun commented on #25
Hi @jrobinso,

Thank you for your responses and I was able to bring up more reads (used the whole bams without downsampling) per track.

There is a minor bug (or not a bug) on the COSMIC link. The COSMIC link always takes you to the expired ID (4006021 I believe?) and does not reflect the actual IDs in the VCF. Was it hardcoded? I was able to manually correct this by replacing each variant's COSMI

[2019-04-19 22:12] jrobinso commented on #25
The link to cosmic is "hardcoded" but the IDs come from the VCF,  they are
not hardcoded.     If you can post a small VCF where the cosmic links are
incorrect I will look into it.

On Fri, Apr 19, 2019 at 12:07 PM David YunTe Lin <notifications@github.com>
wrote:

[2019-07-02 21:02] MarkleLab opened #28 "Warning: The index file is older than the data file"
Hi,

I finally got to setting up igvreports as per @jrobinso 's suggestion on the IGV Web App repo's issue page. I was able to set up the dependencies and launch and view the examples successfully.

I prepared a BED file with the sequence of searches that I would like to query, as per the formatting of example BED files in the repo. I do not get any warnings when I use the BED file with your examp

[2019-07-03 16:34] alperyilmaz opened #30 "igv-report does not embed igv track"
Hi,
I was trying to generate report using conda environment. I downloaded the sample data and run the sample code (I replaced genome URL with local file location). I can generate the html output, when I open the file I can only see variant table but IGV is not embedded. (see image below)

![image](https://user-images.githubusercontent.com/410615/60608549-5b29d900-9dc8-11e9-89d3-209f50082604.png)

[2019-07-04 22:43] jrobinso commented on #30
Actually IGV is embedded,  I see it.  What do you see if you examine the DOM  contents with Google developer tools?  I suspect there's an error loading your genomic sequence.   Is there anything in the console?

[2019-07-04 23:09] jrobinso commented on #28
That's a warning about the bam file index, not the reference or fasta.   It
can be ignored if you're sure the .bai index is up-to-date.   I don't know
the hts library code for this, but it is probably expecting a creating date
for the .bai file that is more recent than the bam file,  maybe using  "<"
rather than "<=".   In any event it can be ignored.

On Tue, Jul 2, 2019 at 5:02 PM MarkleLab <not

[2019-07-05 03:13] alperyilmaz commented on #30
Sorry, I forgot to mention, when I run the example code from README, the genome was provided as URL (https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg38/hg38.fa) and `create_report` gave error, saying it cannot find the file:
[code]
So, I provided a file from my local folder. Do I need to convert that fasta into data-uri?

The console has error (I'm guessing, due to fasta not being da

[2019-07-05 03:26] alperyilmaz commented on #30
I tried creating data-uri for my genome but had memory issues:
[code]

I guess I need to use genomes already available with URL, and I need to fix the issue about `create_report` not being able to use URL for hg38.fa

[2019-07-05 14:40] MarkleLab commented on #28
I am sure that the .bai index is up to date, so I will ignore the warning. Still, I can not visualize my BAM file.

Here's some information about my query:
**Genome:**
hg19

**Search BED file:**
I had to change the extension to upload it on github, but this is the search file I'm using.
[searchMe.txt](https://github.com/igvteam/igv-reports/files/3363097/searchMe.txt)

**Command:**
create_report ~/

[2019-07-05 15:42] jrobinso commented on #28
OK,   I'll look into this.   I'm just back from 9 days vacation so am
swamped.   I'm sure we can make this work.

On Fri, Jul 5, 2019 at 7:41 AM MarkleLab <notifications@github.com> wrote:

[2019-07-05 15:47] jrobinso commented on #30
Hi,  I'm not sure why you are trying to create a data-uri for you 3 GB fasta but that is not going to work, the resulting string would be enormous.

Let's stay focused on the original problem.   Please post the command line you used to create the report, and also if possible zip the resulting html and attach it here.

[2019-07-05 16:20] MarkleLab commented on #28
Great, thanks a lot @jrobinso! Let us know if you have any questions!

[2019-07-05 23:16] jrobinso commented on #28
@MarkleLab How did you install igv-reports, specifically did you use pip or are you installing from the github repository?

[2019-07-07 04:43] jrobinso commented on #28
Hi @MarkleLab,  could you reinstall and try again?  I think this is fixed.   The pypi version number is 0.02.

WRT gene name, that is totally dependent on the track you load, in fact there is no concept of a gene in igv-reports only tracks.   To get the same track as igv.js's hg19 reference use the following

[code]

so something like this for the report
[code]

[2019-07-07 21:42] MarkleLab commented on #28
Hi @jrobinso,

Thanks for looking into this! I reinstalled and tried again with the newly updated repo, but I am still unable to visualize my own tracks.

I can however see the gene name now with the hg19 igv.js reference link you mentioned. Here's an updated screenshot:

<img width="1397" alt="Screen Shot 2019-07-07 at 5 35 58 PM" src="https://user-images.githubusercontent.com/43764863/60774136-c

[2019-07-07 22:50] jrobinso commented on #28
That's strange,  could you zip and attach the html file produced?  You can email it to igvteam (at) broadinstitute.org if you don't want to attach it here.

FWIW this is the command line I tested

[code]

[2019-07-07 22:54] jrobinso commented on #28
One thought,  this could be a chromosome name problem.  igv.js does automatic mapping of chrX <-> X, etc, for you buy pysam does not.   If this chromosome naming convention of you bed file differs from the convention used in your BAM file this is exactly what you would see, because (for example) there are no alignments on "chrX", they are on "X".

[2019-07-08 00:18] MarkleLab commented on #28
Yes, of course. Here's the zip with the HTML file output: [test_viewer.html.zip](https://github.com/igvteam/igv-reports/files/3366252/test_viewer.html.zip)

[2019-07-08 00:19] MarkleLab commented on #28
And I tried the command your were working with and it works for me, but still no luck for my own data.
I'm not sure if there is another naming convention in my BAM files, but I tried changing the chromosome from "chrX" to "X" like you mentioned in the BED file. That crashed the program and produced the following key error:
KeyError: "sequence 'X' not present"

[2019-07-08 00:33] jrobinso commented on #28
That's a pysam error, so "X" is not present in the file.   An independent
check would be to use samtools  ("samtools view") for your query string and
see if it outputs any alignments.

On Sun, Jul 7, 2019 at 5:19 PM MarkleLab <notifications@github.com> wrote:

[2019-07-08 02:03] jrobinso commented on #28
OK, I just looked at test_viewer.html,   your BAM file does not have a sequence named "chrX",  it has 1,2,3....,X,Y,... etc.    The fasta you are trying to use has chr1, chr2, chr3,...,chrX   etc.     I'm pretty sure this is the root of the problem.   Automatic chromosome aliasing is not built into igv-reports, it implicitly assumes consistency.    I'll think about what if anything I can do about

[2019-07-08 02:13] jrobinso commented on #28
Try this for your fasta, and re-name your search features with "X" not "chrX".   I don't have a gene annotation file with that naming convention so leave that track out for now.    This will confirm the thesis that its a name problem.
[code]

[2019-07-08 11:39] FelixMoelder opened #31 "Mistake in latest release number"
The latest release has been labeled with the release number 0.92 instead of 0.9.2.
As this would undermine the bioconda version history of igv-reports this should be corrected before updating the bioconda package.

[2019-07-08 14:19] MarkleLab commented on #28
Hi @jrobinso,

Thanks a lot for looking into this!! By using the modified reference FASTA link you supplied, and changing my search query to use: 1,2,3,...,X,Y,MT, I can now visualize all my alignment files! 👍

However, now when I add the updated annotation track link you gave

[code]
I get the following error:
[code]

Here's a current screenshot of my screen. I can see all my alignment tracks per

[2019-07-08 14:46] jrobinso commented on #28
Are you sure you are using version 0.92?   You will see this error on earlier versions of igv-reports.

[2019-07-08 15:09] MarkleLab commented on #28
Ah, my bad. My work computer had an outdated virtual environment. This is fixed now. I can visualize all my alignments as well as the reference sequence with version 0.92. :tada:

Thanks a lot for your help in resolving this issue @jrobinso! We really appreciate it. I'll go ahead and close the issue now.

Best,
MarkleLab

[2019-07-08 15:09] #28 closed

[2019-07-11 21:36] jrobinso commented on #31
@FelixMoelder Yes, my mistake, I'm not sure what the best way to correct this is.   The git tag is permanent,  I could republish 0.9.2 to pypi and delete 0.92,  what would you advise?

 Also,  I don't maintain a bioconda package for this.

[2019-07-12 06:17] FelixMoelder commented on #31
I guess it would be easiest to delete and republish the release as you suggested.
I would update the bioconda package as soon as it is possible.

@johanneskoester Do you have any suggestions how to proceed?

[2019-07-12 06:19] jrobinso commented on #31
@FelixMoelder I'm a bit confused as we don't publish a bioconda package.   At least to my knowledge.  I have many projects going so perhaps I've forgotten about something, but what are you referring to?

[2019-07-12 06:27] FelixMoelder commented on #31
@jrobinso There is already an existing bioconda [package](https://anaconda.org/bioconda/igv-reports) of igv-reports 0.9.1.
As bioconda is open to everybody for contribution it is not necessary for you to maintain igv-reports there.

[2019-07-12 06:29] jrobinso commented on #31
@FelixMoelder OK,  I don't know how it got there (to bioconda), I did not contribute it although I'm happy for it to be there.   I've corrected and pushed the tag to the git repository.

[2019-07-12 06:33] FelixMoelder commented on #31
Perfect, thank you!
I will push an update of that version to bioconda.

[2019-07-12 06:33] #31 closed

[2019-07-12 09:08] johanneskoester commented on #31
@jrobinso somebody from the community created the bioconda recipe. This is how bioconda is meant to work. We appreciate contributions by upstream devs, but otherwise software is packaged as needed, as long as the license allows it.

[2019-08-07 05:45] #30 closed

[2019-09-26 19:09] FelixMoelder opened #37 "Request: New Release"
Could we get a new release version of the current master?

Thanks,
Felix

[2019-09-27 04:32] jrobinso commented on #37
done v0.9.5

[2019-09-27 04:32] #37 closed

[2019-10-18 18:37] petermchale commented on #25
@jrobinso : has your team implemented "Sort by insert size and chromosome of mate" in igv.js?

[2019-10-18 23:17] jrobinso commented on #25
@petermchale they have, but not released yet,  it will be released early next week and I will update this project at that time.  Apologies to all for the long delay.

[2019-10-21 19:37] petermchale opened #38 "Slow rendering of 9MB igv-report html document"
Here are two igv reports. Chrome renders the first in a handful of seconds. Chrome didn't render the second after waiting for the best part of a minute. This surprised me given that the second is only 4MB larger than the first, which is 5MB. The second differs from the first in the addition of an extra alignment track (pacbio).

Is this expected behavior?

[2019-10-21 20:45] jrobinso commented on #38
No, its not expected.  Of course  you might eventually exceed what a browser can load,  that's one of the drawbacks to having all the data in the page, but I don't think that's happening here.  There must be something about the pacbio data that is causing this.   I will try to reproduce it with pacbio data we have here.

If possible see if you can recreate this session using igv-web  (igv.org/app)

[2019-10-21 22:24] jrobinso commented on #38
I'm able to reproduce this from your encoded session, but don't know the cause.   What is the name of the pacbio track  (which of the 3 or 4 tracks is it)?

[2019-10-21 22:37] jrobinso commented on #38
Never mind, figured that out.   Something is going wrong decoding the pacbio data uri.

[2019-10-22 00:08] jrobinso commented on #38
OK, I think this is an issue with igv.js, specifically it is not handling your pacbio bam.  I can't completely confirm that without the file, but if you try it in igv.org/app as suggested above it should confirm it.  Can you can extract this small slice of bam using samtools and share it with me?

This is the cigar string from an alignment after decompressing and decoding the session in the html.

[2019-10-22 01:22] jrobinso commented on #38
OK I think I figured this out.  We had a similar issue with IGV desktop which was fixed some time ago, but not yet applied to igv.js.   The alignments here have on the order of ~1,000 indels each, rendering all those is a waste and overwhelms the browser.  These indels are mostly random noise for many pacbio experiments.   The solution is to set a threshold below which indels are not drawn.    I'm

[2019-10-29 21:04] jrobinso commented on #21
Hi @johanneskoester could you try the latest release?  Some enhancements were made to igv.js version 2.3.2 for very deep coverage files,  this did not involve downsampling but silent failure if the browser ran out of memory.  Normally this resulted in a browser crash, but for at least 1 user the failure was silent and not all reads displayed.

Comments about downsampling above stilly apply, if thi

[2019-10-29 21:04] #21 closed

[2019-10-29 21:06] jrobinso commented on #25
@petermchale New sorting options including insert size & chr of mate have been released.  The latest igv.js release is https://cdn.jsdelivr.net/npm/igv@2.3.3/dist/igv.min.js.  This is now the default for igv-reports.

[2019-10-29 21:06] #25 closed

[2020-01-14 07:49] ghost opened #39 "initialization configuration questions"
HI,
   I have tried the igv-reports and this is an amazing tool. Thanks so much for your contribution. Now I have encountered some problems:
1. When I suppy only one variant in the vcf for the `create_report`, it does not load the IGV track. I change  `sessionDictionary["1"]` to `sessionDictionary["0"]` and it worked.
https://github.com/igvteam/igv-reports/blob/91752e65a09fea729eaf83dddfe2c6a87156

[2020-01-14 21:03] jrobinso commented on #39
Hi,  thanks for the input.  (1) looks like a bug,  I will look into it.  RE (2) that is a good suggestion but not possible yet, as is (3).  These amount to the same suggestion.  I have considered this but surprisingly no one has requested it until now.   I will leave this issue open as a request for track configuration.   When 1 is fixed I'll comment here.

[2020-09-23 00:43] IvantheDugtrio opened #43 "Issues printing multiple INFO columns"
To whom this may concern,

I am trying to include multiple INFO field columns in the html report but for some reason it only prints values from the first column. Also the column header names are missing for the info-columns specified.

The following command was used:
`create_report SS-10441949-S-123019_S22_concensus.filtered.ann.vcf.gz GRCh37.fa --ideogram cytoBandIdeo.txt --info-columns cosmic_ge

[2020-09-25 03:09] jrobinso commented on #43
Thanks for the report and sample data.  I'm looking into it now.   I am hampered by 2 things, I am not really a python programmer and I'm not a VCF expert.   Other than that no problem.   It looks like there might be some indentation problem around some if/else statements.

[2020-09-25 03:11] jrobinso commented on #43
If you look at varianttable.py,  the logic jumps from line 55 to line 78, rather than line 68.   This makes no sense to me but is the root of the problem, I think.

[2020-09-25 03:34] jrobinso commented on #43
Hmmm,  the table is all there in html,  its just very wide.   See the screenshot.  So the problem is in the html template, not the python

<img width="2404" alt="Screen Shot 2020-09-24 at 8 32 47 PM" src="https://user-images.githubusercontent.com/933148/94223603-4346e500-fea5-11ea-8edd-5c05cc72d1f5.png">

[2020-09-25 03:36] jrobinso commented on #43
Also, there is some discrepancy in the output html you posted and what I am generating.  Could you verify that you are running the latest released version?

[2020-09-25 03:46] jrobinso commented on #43
Never mind, discrepancy is because I removed some rows for testing speed.   I think what's happening here is the table column widths are being controlled by the size of the maximum element in any of the rows.   Some of the cosmic gene values are very long, causing the column to be around 5,000 pixels in width.    If you generate the report above with just the first row of the vcf file I think you

[2020-09-25 04:03] jrobinso commented on #43
The table is in a div that had "overflow:auto",  which should have created a horizontal scrollbar for this table.   Its just not working.  So I removed that style,  you can see the result with the attached.   This is not a very satisfying solution for large content width in the cells, but will be the solution until someone can suggest a better one.    This is not an easy problem.

[SS-10441949-S-1

[2020-09-28 18:35] IvantheDugtrio commented on #43
Thanks Jim for the work!
I also worked on the VCF filtering tool VCFANNO to get fewer annotations per column, so that the data would be more manageable. See the attached VCF and regenerated report.

I'm still not sure what to do about the AD and AF fields and it seems to be problematic for every tool I've tried parsing them with. I'll consult with the guys at bcftools on how to parse these multi-a

[2020-09-28 18:44] IvantheDugtrio commented on #43
Also, does igv-reports support parsing a tab-separated table with defined columns such as CHR, POS, REF, ALT, AD, AF, COSMIC_ACC, CLINVAR_ACC, etc?

[2020-10-06 10:51] DanielAndreasen opened #45 "Not able to find reference on s3.amazon"
When I run any of the two examples I get the following error:

[code]

[2020-10-06 18:56] helgathorv commented on #45
Are you able to access the hg38.fa file if you directly enter the link into your web browser?

[2020-10-07 06:46] DanielAndreasen commented on #45
Yes I am. I just tried running the command again, with the same error. I'm running from the newest master branch.

[2020-10-07 23:08] helgathorv commented on #45
That is strange. And there's nothing about the environment where you're running create_reports that would prevent access to the file at Amazon? Since you do have access to the file via the browser, one workaround would be to download it and just use the local version.

[2020-10-07 23:43] jrobinso commented on #45
In that case I suggest you download the fasta (and its associated index)
and use them as local files.   I can't reproduce your problem here.    To
run the example you referenced download
https://s3.dualstack.us-east-1.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg38/hg38.fa
and
https://s3.dualstack.us-east-1.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg38/hg38.fa.fai.
 Save them locally

[2020-10-08 03:13] jrobinso commented on #45
The other thing you might try,  python being python,  is to create and install to a fresh environment.   You might have an old version of pysam that is not recognizing urls.

I'm closing this as it can't be reproduced.

[2020-10-08 06:50] DanielAndreasen commented on #45
Sorry to see this issue closed so fast.
I tried making a new conda environment, installed `pip`, and then `igv-reports`. I'm using python 3.8.6, and pysam 0.16.0.1 ([the latest version](https://github.com/pysam-developers/pysam/releases) as of right now), and still it doesn't work.

However, if I download the reference genome and its index I can make it run.

Just out of curiousity, which versions

[2020-10-08 12:10] jrobinso commented on #45
I'll re-open if you describe a problem I can reproduce.   Closing just takes it off my active list,  I'm not meaning to preclude discussion and questions.   I use 3.7.2 with this project.

[2020-10-08 12:27] DanielAndreasen commented on #45
And which version of pysam do you use?

[2020-10-09 19:29] jrobinso commented on #45
We have tried 0.15.3 and 0.16.0.1

[2020-11-11 21:30] stevekm opened #46 "HTML report not generated if variant location does not exist (was HTML report does not work with hg19.fasta)"
I modified the example command to use the hg19 genome as shown;

[code]

however the HTML output report does not show the IGV browser tracks. Is there something wrong with that genome file? I did not get any error messages.

[2020-11-12 06:09] jrobinso commented on #46
@stevekm Thanks for the report.   It took some investigation, but I found the issue.  The vcf file references a location that doesn't exist in hg19, specifically the record below.   Removing this from the VCF fixed the problem.   The report doesn't handle this,  I will make a note to print a warning and exclude such loci,  but this shouldn't occur with any real data.

[code]

[2020-11-12 14:06] stevekm opened #47 "fix for integer Info columns not in latest release on pip"
I followed the instructions in the README and installed with

[code]

However this gave me version 1.0.1. It seems like a number of important fixes are not included, importantly the ones in bbdf1e8

For example, the version of `igv-reports` I got off of [pip](https://pypi.org/project/igv-reports/) has the following for `varianttable.py`;

[code]

but the one I cloned off GitHub here has this, whic

[2020-11-12 14:08] stevekm commented on #43
I also am interested in parsing a more generic tab-separated table, instead of just VCF, though maybe that would be better for a separate GitHub Issue?

[2020-11-12 14:11] stevekm commented on #46
Thanks for looking into this. Since hg19 is still relatively widely used, maybe it would be more helpful to just include an hg19 compatible example vcf? Or just regions in the current vcf that work in hg19.

[2020-11-12 15:50] stevekm opened #48 "need ability to freeze column headers in HTML table"
If the variant table in the HTML report is very long, you lose sight of the column header labels as you scroll down, making it hard to remember which column is which. It would be great if there was a way to freeze the header row in place as you scroll, similar to the "freeze pane" feature in Excel.

[2021-02-18 19:25] stevekm commented on #45
I am getting the same error. You can replicate it with this Dockerfile;

[code]

with this test script `test.sh`;

[code]

Running it;

[code]

note that I am using a `git clone` of the repo in there and not installing from `pip` for the reason mentioned in the comments.

[2021-02-18 19:35] stevekm commented on #45
I also get the same error if I install `igv-reports` from `pip`;

Dockerfile;

[code]

`test.sh`

[code]

result;

[code]

[2021-02-18 20:25] jrobinso commented on #45
@stevekm OK I will look into it.    The examples should work of course, but as a workaround you can download that fasta and reference it as a local file.

[2021-02-18 20:33] stevekm commented on #45
Yes I tried that. The issue is that I want to be able to include a test script like this with my container builds in order to test that its working, in which case its very helpful to be able to load  the reference genome from the URL as shown. Hope there's a solution possible :)

[2021-02-18 20:57] stevekm opened #49 "Need an error message if the wrong reference genome is being used"
Just spent a lot of time trying to debug why the output html reports were not working, getting errors like this in the Firefox web console;

[code]

with the variant table showing but the IGV browser not showing up

Turns out its because I was using hg19 instead of hg38;

[code]

Would have been really nice to have gotten an error about this from `create_report` instead of having to debug it insid

[2021-02-19 01:53] jrobinso commented on #49
@stevekm How would IGV know what reference you intended to use?   Secondly, the wrong reference should not give you those messages.  Actually maybe the first one, the other 2 are not actual errors.

[2021-02-19 02:02] jrobinso commented on #45
@stevekm I will try to get to this next week,  this is not a very active project compared to IGV and igv.js, plus its a different language (python),  I will have to clear some time.   However I do recall trying to reproduce this before without success.  I do not us Docker,  I don't know what affect that would have but its the common thread between the OP and your report.

[2021-02-19 02:36] stevekm commented on #45
on a side note, I found out that my conda installation in those Dockerfiles was slightly wrong, it should be this;

[code]

to avoid the error described here where upgrading the base Python version breaks conda; https://stackoverflow.com/questions/19825250/after-anaconda-installation-conda-command-fails-with-importerror-no-module-na

this does not change the error with `pysam` seen here but does g

[2021-02-19 02:39] stevekm commented on #49
I am not sure but it would be helpful to know when creating the report that my input is going to break IGV. Especially since broken IGV in the web browser does not produce a readily visible error message like the command line would, I never would have know what was going on if I did not know to check the browser console. Maybe its outside the scope of `igv-reports`

[2021-02-19 02:42] stevekm commented on #30
looks like this might have actually been the issue I described here; https://github.com/igvteam/igv-reports/issues/49 . Wrong reference genome file.

[2021-02-19 02:45] stevekm commented on #49
I'll close this since it sounds like something outside the scope of `igv-reports`

[2021-02-19 02:47] stevekm commented on #46
actually looks like this was a duplicate of this https://github.com/igvteam/igv-reports/issues/49 (or vice versa); feel free to close it if you like

[2021-02-19 02:50] stevekm opened #50 "support for .tsv or .maf format input files"
as mentioned here https://github.com/igvteam/igv-reports/issues/43, it would be really nice if `igv-reports` supported reading input from a tab separated or .maf input file. Right now it does not seem to work with that, forcing you to go through the process of converting your maf back into vcf to use it with `igv-reports`, which is a headache at times.

[2021-02-19 04:27] jrobinso commented on #50
Bed files are tab delimited, and simple to create.

[2021-02-19 05:09] jrobinso commented on #49
I'm reopening to see if I can reproduce that first error.  There is no way to know what reference genome you intend, but you shouldn't get an error.   I suspect the igv.js version embedded here is out of date.

[2021-02-19 05:14] jrobinso commented on #48
This would be in the html template, which is user customizable.   If you know how to do this with html you can start with our default template and modify it, or better yet submit a PR.

[2021-02-19 05:34] jrobinso commented on #47
Apologies for the delay.   I don't know what happened there, but I just re-tagged as v1.0.2 and pushed a new release to pypi.

[2021-02-19 05:34] #47 closed

[2021-02-19 05:43] jrobinso commented on #45
@stevekm I just pushed 1.0.2, in response to an earlier report from you that the PIP package was not in sync with github.  There is some possibility, albeit slight, that this might resolve this issue.

[2021-02-19 15:16] stevekm commented on #50
bed is not a variant format though, generally when we are using IGV we want to load variants + bam together.

[2021-02-19 23:25] jrobinso commented on #50
@stevekm Noted.   I'm going to set aside a couple of days to work on igv-reports next week.    I will add support for ".maf" at that time.  Could you possibly supply a small test file?   When I've worked with MAF in the past it seemed no two pipelines output the same thing,  there's a number of if-then tests in IGV desktop trying to figure out the MAF variant.  So it would be best if I had a sampl

[2021-02-19 23:32] jrobinso commented on #48
Specifically here.  ```igv_reports/templates/variant_template.html```.    When working on the template I find it easiest to generate a small report, then edit the report, and copy any changes back manually to the template.    For the default report I tried to do it without any dependencies so that a completely standalone report could be generated that wasn't too large.    I would like to maintain

[2021-02-23 20:28] jrobinso commented on #49
I'm closing this, I can't reproduce the error using your command line with an hg19 fasta, specifically I tried

[code]

Its possible this was due to out-of-date code in the previous pypi release.

[2021-02-23 20:28] #49 closed

[2021-02-23 22:56] jrobinso commented on #45
Looking at the stack track the error is in pysam, which is trying to open the URL as a local file

[code]

Which in turn indicates an error in the htslib "isremote" function.   I do not know why you would see this error,  I do not see it with a clean pip install, but it has something to do with the pysam dependency.

[2021-02-23 23:07] jrobinso commented on #50
@stevekm Reminder to provide a small test file if you want your MAF variant supported.  Have a look at the 2 files just added to "test/data/maf".   These are from the IGV desktop project, both are referred to as "maf" files by different projects but they don't look much alike.   The file with the ".maf" extension looks like an actualy MAF file according to the old TCGA spec, the other is just an a

[2021-02-27 01:29] jrobinso commented on #50
I've added support for TCGA MAF and generic tab delimited files,  see the updated readme.   This is not complete.  The variant table will be created from these files, but you can't display them as a track yet because igv.js itself does not support these formats.   I am going to pivot to igv.js to add support for this formats.   In the meantime you can test report generation with your MAF or other

[2021-02-27 06:10] #50 closed

[2021-02-27 06:16] jrobinso commented on #50
@stevekm OK I think this is done (not released to pipy yet).   See the example and readme.   TCGA "MAF" files should be supported now as is, with a ".maf" extension.   Alternatively, and for ad-hoc tab delimited formats, you can specify the required sequence, start, and end columns using tabix style parameters, as documented in the readme.  By default all column headers will be used in the table,

[2021-03-01 18:01] jrobinso commented on #43
I don't think there are any open issues here,  tab-delimited table input support (#50) has been added, it will be in the next release.

[2021-03-01 18:01] #43 closed

[2021-03-01 18:10] #46 closed

[2021-03-01 18:11] jrobinso commented on #45
Per notes above, this error was not reproducible but could have been caused by incorrect or out-of-date files pushed to pypi as part of release 1.0.1.

[2021-03-01 18:11] #45 closed

[2021-03-01 18:13] jrobinso commented on #18
This is beyond the scope for core development if reports (core == development I personally do).   I would welcome a pull request for this in the form of another template,  an advanced version of the basic variant_template.html used now.

[2021-03-01 18:13] #18 closed

[2021-03-01 18:15] jrobinso commented on #16
Apologies for the long delay in responding.  Its not clear to me how this would work, the row represents the variant site not a specific sample.

[2021-03-04 04:16] jrobinso commented on #39
I think all these issues are now addressed.

1. This was a bug, and your fix was the right one (should be "0")
2. There is a new "--sort" option, see the updated README.md.  Further, for single-nucleotide-variants "sort by base" is the default.
3. You can configure any track using igv objects by supplying a file containing a json array of "track configs" as described in the igv.js documentation, i

[2021-03-04 05:07] jrobinso commented on #39
Note these new options are only available if you pull from master and build,  I will release it sometime in the next week.

[2021-03-04 06:00] #15 closed

[2021-03-08 12:59] ctuni opened #51 "ValueError: start out of range (-261)"
Hi!

I'm trying to use `igv-reports` to visualize .vcf files of SARS-CoV2. I'm running into an error which I think arises from the fact that the genome of the SARS-CoV2 virus does not have chromosomes. I tried the minimal command `create_report sample1.vcf.gz sarscov2.fa` (where sample1.vcf.gz is the compressed VCF file, and sarscov2.fa is the genome in FASTA format), and the error output I have r

[2021-03-08 16:17] jrobinso commented on #51
@ctuni is the fasta file indexed (do you have a ".fai" file)?     If you could zip and attach the fasta file I will see if I can reproduce the error,  also show us the command line you used.   The lack of chromosomes should not matter,  technically its not chromosomes but sequences as defined in the fasta that are queried.

[2021-03-08 16:45] ctuni commented on #51
Hi @jrobinso , thank you for your help!

I see that in the first message I did not use the .fai file, instead I used the .fa file, which I understand that is the cause of the first error message.
I have both the .fa and the .fai file which I created using `samtools faidx sarscov2.fa`. I have also used tabix to index the .vcf.gz file I have, resulting in a .vcf.gz.tbi (created with the command `tab

[2021-03-08 16:49] jrobinso commented on #51
@ctuni Thanks for the report, it is helpful to get these bug reports.   Is it possible to share the sample.vcf.gz file as well?  Or really all I need to know is the locations of the first few variants.

[2021-03-08 16:55] ctuni commented on #51
@jrobinso Of course! Here it is:
[sample.vcf.gz](https://github.com/igvteam/igv-reports/files/6102919/sample.vcf.gz)

Thank you again for your help!

[2021-03-08 22:37] jrobinso commented on #51
@ctuni Thanks for the test data.   I can confirm this is an igv-reports bug,  it has actually been fixed but not released.  It will be released and pushed to pypi by the end of the week.   I will leave this open until that time.

In the meantime, you can work around the problem by limiting the "flanking window" to be no greater than the position of the first variant.   In this example case that is

[2021-06-09 02:35] charlesfoster commented on #51
Hi @jrobinso,

I'm having the same issues. I'm also working with SARS-CoV-2.  My command:

[code]

Output:

[code]

The fasta file is indexed with `samtools faidx`, and the vcf file is compressed with `bgzip` and indexed with `tabix`. The first variant is at position 14, but adding `--flanking 13` gives me the same error.  As a test, I deleted all the beginning variants, only leaving the variant a

[2021-06-09 03:52] jrobinso commented on #51
@charlesfoster Apologies I had forgotten to update the release.  Could you try install igv-reports again, and verify that the version is 1.0.3.  I know nothing about "mamba" or miniconda for that matter, but the latest version in pypi is 1.0.3 and should have a fix for the orginally posted issue.  Whether that is your issue or not I can't be sure.

[2021-06-09 04:09] charlesfoster commented on #51
@jrobinso thanks for the  quick reply. I uninstalled the version hosted by Anaconda (https://anaconda.org/bioconda/igv-reports), then reinstalled using pip. The version is 1.0.3:

![image](https://user-images.githubusercontent.com/11418858/121291174-29620b00-c92b-11eb-86bd-f274af126933.png)

When I use the modified sample where the first variant is at position 241, the program finishes with no iss

[2021-06-09 04:25] jrobinso commented on #51
OK thanks for the test data.  I will look into this tomorrow, looks like another bug.

[2021-06-11 22:33] jrobinso commented on #51
This is a long and rambling thread but I think the issue is resolved.   I added a note about the ".bgz" extension, this is not something I control its imposed by the "pysam" module.

BTW, after releasing 1.0.3 I noticed 2 issues with igv.js,  (1) the cytobands weren't rendered correctly from igv-reports generated html, and (2) the center line was not exactly centered on the variant.   Both of thes

[2021-06-11 22:33] #51 closed

[2021-06-14 22:37] yeemey commented on #16
Is this now addressed by the `--sample-columns LIST` argument? If so, how do I specify the LIST? I'm using igv-reports-1.0.4, and I've tried the following, but didn't get the columns:

`--sample-columns GT AD DP`

`--sample-columns sample_name/GT sample_name/AD sample_name/DP`

`--sample-columns sample_name`

[2021-06-17 03:01] xiucz opened #52 "Add IGV 'side-by-side' feature please."
Hi,
Thank you for your tools. In my recent fusion gene research,  how about add a new feature, which can be visualized side-by-side.
![image](https://user-images.githubusercontent.com/12706146/122323920-790f8a80-cf5a-11eb-815b-e80d0516a7f1.png)

Best,
xiucz

[2021-06-17 03:27] jrobinso commented on #52
This already exists, as your screenshot demonstrates, so I'm not sure what you are asking for.

[2021-06-17 09:42] xiucz commented on #52
@jrobinso
Thanks for your quick reply.  Yes, we can visualize fusion events in a GUI window manually. But how can I do it using `create_report` command line in batches?

Best,
xiucz

[2021-06-17 14:09] jrobinso commented on #52
Ahh, of course, gotcha.  You can't do that currently, its a good suggestion,  I will leave this open as a request.

[2021-07-01 15:14] fgvieira opened #53 "Input/output error when creating IGV report"
Dear all,

I am trying to create an IGV report:
[code]

But I am getting the error below:
[code]

What does this error mean? If I try access the URL, it works fine.
And why is IGV trying to access ENA if I provide the reference genome?

thanks,

[2021-07-02 02:03] jrobinso commented on #53
@fgvieira I actually do not know, I suspect pysam is trying to access the file based on information in the header.   If so this is out of my control.    Do you have, or can you create, a "bam" file version of the cram to see if the error persists?

[2021-07-02 14:12] jrobinso commented on #53
I found this in the samtools reference (pysam, used by igv-reports, wraps samtools)

[code]

I cannot reproduce the issue with my test CRAM files, but I can suspect there is some specific combination of headers that cause samtools to try to compute a MD5Sum from the reference specified in the header.   I think the fix will be to pass the reference specified in igv-reports to pysam with the "-T" ar

[2021-07-04 17:23] XuewenWangUGA opened #54 "When the bam file (200 Mb) is big, it failed to load"
I found that there is an issue if the .bam alignment file is 200Mb, the displaying will fail. There is no other error except that the browser complains a slow loading issue.  After testing for a while, the result is that loading always fails.
Any solution to this? Reduce the sliced bam size or relative small region?

I think the RAM for this computer used in testing is big enough (126 G).
As a con

[2021-07-04 17:28] jrobinso commented on #54
Do you mean the original bam file that is input to the report?  I test with a 3.1 GB bam file, the size of the bam file is not relevant to the report, although the depth of coverage might.   It might help if you post the command line parameters you used for generating the report.   Also, how large is the generated .html file.

[2021-07-04 17:53] XuewenWangUGA commented on #54
The command: create_report examples/variants/variants_short.bed.txt hg38/hg38.fa --flanking 1000 --sequence 1 --begin 2 --end 3 --info-columns MarkerName Chromosome Start End --tracks examples/variants/m64011_210305_012434.hifi_reads.demux.GRCh38.mq255.chr5:150066324-150086375.bam  --output CSF1PO.html

The bam "m64011_210305_012434.hifi_reads.demux.GRCh38.mq255.chr5:150066324-150086375.bam" is a

[2021-07-04 17:58] XuewenWangUGA commented on #54
the reference is the hg38.fa

[2021-07-05 02:40] jrobinso commented on #54
The problem here, I think, is the depth of coverage, more than 3,000X.     I suggest you either downsample the file to a lower coverage, for example with samtools "subsample" command,  or reduce the flanking region around the variant.  For flanking you could try 100,  if that's successful increase it until it fails.

[2021-07-05 15:31] fgvieira commented on #53
I tried the latest commit, but got an error:
[code]

I tried adding the `--fasta` command line option, but it is not recognized.

[2021-07-06 02:10] jrobinso commented on #53
OK I'll have to look at this next week,  I'm traveling now.  There is no. "--fasta" option in igv-reports, that is a pysam option, sorry if I wasn't clear.

Many people use this with CRAM files,  I don't know what it is about yours that is triggering this.   However, the error is coming from pysam,  a python package.   I suggest installing that package and trying to query the file for alignments,

[2021-07-06 08:25] fgvieira commented on #53
Looking a bit more into the code, I think the issue might be here:
https://github.com/igvteam/igv-reports/blob/a0c558a8a16d7168ca550ff0d1816c000af3f8ff/igv_reports/feature.py#L246-L247

[2021-07-08 14:40] fgvieira opened #55 "Suggestion: add support for BCF files"
`create_report` only supports `vcf.gz` files, but would it be possible to also support `bcf`?
thanks,

[2021-07-21 20:09] #54 closed

[2021-07-26 17:48] jrobinso commented on #53
@fgvieira Sorry for the delay,  could you pull and try again when you have a chance?

You were on the right track, but its a little more subtle.   For CRAM format we need to distinguish between input and output formats (CRAM is output as BAM in the report).

[2021-07-26 20:51] jrobinso commented on #55
@fgvieira This might actually work with very minor changes, but I don't have time to pursue it.   If you want to try, modify "getreader" in utils.py to return a vcf.VcrReader for file type vcf.    Since pysam understands bcf files it might just work (almost).   The other trick would be to create a igv.js track of type "vcf", since igv.js does not support bcf.  Again this might just work with no co

[2021-08-06 16:28] #53 closed

[2021-08-06 20:29] #48 closed

[2021-08-06 20:32] jrobinso commented on #48
I've added a template that does this, I think, to use it you have to specify template 'variant_template-2.html' when you make the report.   To do this the table itself has to be scrollable, and for that to take effect it needs a defined height.   In the template its set at 33%, of course that can be changed.  Its sometimes tricky to get the table to scroll instead of the entire page,  but that's t

[2021-12-14 20:18] azbard opened #57 "igv-reports doesn't display bam but igv does"
Absolute noob here - be gentle.

Is there any conceptual reason why a bam/bed combo would display fine in igv proper (java) but only the bed shows up in a report generated as follows?

create_report bedfile.bed hg19.fasta --tracks bamfile.bam

These two made with the same files...
![Screenshot 2021-12-14 151244](https://user-images.githubusercontent.com/83711448/146073092-3db651ef-3e95-490b-9f45-3

[2021-12-14 20:31] jrobinso commented on #57
In your igv-reports screenshot I see chr20 is displayed, but in the IGV desktop screenshot chr5.   If you are displaying the chr5 data at the chr20 location then you won't see any alignments.  I think this is the root cause, but its difficult to say how this could occur without having the files.   If you're able to share the report (generated html) you can email it privately to igvteam (at) broadi

[2021-12-14 21:23] jrobinso commented on #57
Thanks for the data.  I think your bed file might be malformed, based on the table column names in your screenshot above.   Could you zip and attach it (just the bedfile).

[2021-12-15 13:51] azbard commented on #57
I figure out the report not showing the tracks - my pysam library was causing the problem - it had been altered for another project. Ugh - this was all my own fault.

The bed though...
[bedfile-copy.zip](https://github.com/igvteam/igv-reports/files/7719868/bedfile-copy.zip)

[2021-12-15 16:52] jrobinso commented on #57
OK,  python is like that.    RE the bed file,  "bed" uses zero-based
coordinates, unlike other formats like VCF and GFF.  So your start
coordinate should be 1 less than the end coordinate for 1-base variants.

On Wed, Dec 15, 2021 at 5:52 AM Adam Z Bard ***@***.***>
wrote:

[2021-12-16 14:38] ankit-21 commented on #57
Thank you for your support and prompt response to our issue. We were able to get igv-reports to function as desired. Really love this tool.
Feel free to close this issue.

[2021-12-16 20:33] #57 closed

[2021-12-28 16:51] azbard opened #58 "Embedded igv-report array length error"
Hi there - I'm embedding an igv-report in an iframe and it works fine except it pops up this error:
![invalid-aray-length-error](https://user-images.githubusercontent.com/83711448/147588674-28cd67f7-a73d-4c9e-8460-752f222e12d1.png)
Thoughts?

[2021-12-28 17:01] jrobinso commented on #58
That's not a lot of information to go on.  If you can zip and share the report I will look at it.   Look in the console for errors.

[2021-12-28 19:09] azbard commented on #58
Yes, sorry, that *was* vague. See attached. Open "array-error.html" and click on the "Pileups" tab
[array-error.zip](https://github.com/igvteam/igv-reports/files/7786071/array-error.zip)
.

[2021-12-28 20:12] jrobinso commented on #58
I don't know but it must have something to do with the tab since the report
itself does not have any errors that I could find.    You might need to
insert a call to "browser.visibilityChanged()" somewhere,  see
https://github.com/igvteam/igv.js/wiki/Browser-API-2.0#visibilitychange and
also https://github.com/igvteam/igv.js/blob/master/dev/misc/tabs.html.
 That's just a guess.

On Tue, Dec 28, 202

[2021-12-28 20:23] azbard commented on #58
Thanks for the quick response - will look into it and report back if I figure it out.  In the mean time, may as well close the issue.

[2021-12-28 20:23] #58 closed

[2022-03-11 23:18] yeemey opened #59 "Error when specifying URL in file for `--track-config`"
I'm using a Singularity image of igv-reports v.1.0.4, and get this error when I add `--track-config`.

[code]

This is what the file I pass to `--track-config` looks like (validated with JSONLint):
[code]

This is the command that generated the error:
[code]

As far as I can tell my JSON config file looks similar to the example given in the [igv.js Tracks wiki](https://github.com/igvteam/igv.js/wi

[2022-03-12 06:31] jrobinso commented on #59
I don't know anything about singularity.    The track-config should be an array of configurations, as noted in the readme,  in can have more than one.  I suspect that is the issue.   Are you able to run our examples?

[2022-03-18 17:47] yeemey commented on #45
I ran into the same error with a Singularity image of igv-reports, with additional error information:

[code]
[code]
I'm using pysam 0.18.0

[2022-03-18 19:28] jrobinso commented on #45
This looks like a libcurl bug affecting SSL certificates, there is nothing wrong with the certificate for that file.   A workaround is to use an http url (instead of https).   Specifically

```http://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg38/hg38.fa```

I don't know anything about singularity, but here is a Colab notebook with that example (working).   I will update the readme to us

[2022-03-21 06:30] showteeth opened #60 "Is it possible to create read coverage density plot"
I noticed that this tool could create plot for **mutation** and **junctions**. But I want to create plot for **read coverage density (Coverage track)** plot, can I use this tool?

Thanks.

[2022-03-21 06:49] jrobinso commented on #60
No, that's not the purpose of this tool.

[2022-03-21 06:49] #60 closed

[2022-03-21 22:53] yeemey commented on #45
Thank you, this workaround solved my issue.

[2022-03-29 19:14] azbard opened #61 "Down-sampling"
Is downsampling supported? The files I'm producing are way too large.

[2022-03-29 19:19] jrobinso commented on #61
No, there is no downsampling option prior to creating the report.   This is complex, if we downsample before producing the report igv.js will not see all the reads and the coverage will be misleading.   If that is acceptable we could probably add a downsampling option with pysam.   I don't know when I could get to that, to be honest,  in the meantime I suggest you downsample your bam file with sam

[2022-05-23 14:05] #61 closed

[2022-05-23 19:11] #55 closed

[2022-05-26 12:52] ameintjes opened #62 "Suggestion: add examples of output reports"
Are there example outputs hosted somewhere?

I realise there is an examples folder with data and clear steps to run the tool, but clicking a link that says "example output" would be nice for someone who doesn't even know what a reports looks like

[2022-06-14 14:47] MJThiecke opened #63 "BEDPE support"
It would be great if paired-end BED (BEDPE) could be supported

[2022-07-01 05:43] DevangThakkar opened #64 "Incorrect table headers for BED file variants"
The headers when loading data in a BED format are slightly incorrect, [see relevant code here](https://github.com/igvteam/igv-reports/blob/master/igv_reports/bedtable.py#L21).

`headers = ["unique_id", "Start", "End", "Name"]` needs to be
` headers = ["unique_id", "Chrom", "Start", "End", "Name"]`

See image below for an example :
![image](https://user-images.githubusercontent.com/6257460/17682839

[2022-07-06 12:51] julie-asimov opened #66 "Request overhang softclip sequence view in igv reports"
In the desktop IGV viewer when softclip reads are selected it will show the overhands at the ends of the reference. This is extremely useful for whole plasmid sequencing. Is this something that can be mirrored for IGV reports?

[2022-07-20 04:28] #64 closed

[2022-07-20 06:06] jrobinso commented on #63
Closing this as a duplicate of #52.   This has been implemented by @DevangThakkar and merged, it will be released shortly

[2022-07-20 06:06] #63 closed

[2022-07-20 06:07] #39 closed

[2022-07-20 06:09] jrobinso commented on #16
Sorry this issue got dropped.   @yeemey If this is still relevant a year later, what exactly are you trying to do?

[2022-07-21 00:05] #17 closed

[2022-07-21 00:06] jrobinso commented on #62
Example outputs are now in "examples/results".  Thanks to @DevangThakkar for this.

[2022-07-21 00:06] #62 closed

[2022-07-27 02:03] jrobinso commented on #52
@xiucz This is implemented thanks to help from @DevangThakkar .   See the README for instructions, you use a "bedpe" file to define the regions instead of a vcf.   This will be released in the next week.

[2022-07-27 02:15] jrobinso commented on #16
I'm going to make a guess here that what's being requested is support for genotype fields defined in ##FORMAT lines.  There is some mention of a ##SAMPLE field in the specification but its not clear to me what that does and I've never seen an example.

[2022-07-27 05:03] #16 closed

[2022-07-27 05:03] jrobinso commented on #16
OK I think this is finally implemented.  The ```--sample-columns``` option was broken, sorry about that.   Its fixed now, the values should be the ##FORMAT IDs,  e.g.

[code]

This would be a potential problem as is, some VCFs have thousands of samples, so a new parameter has been introduced, ```--samples```,  to explicitly list samples to include in the table.  If this is missing all samples are

[2022-08-01 06:03] jrobinso commented on #66
This is now supported with version 1.5.0

[2022-08-01 06:03] #66 closed

[2022-08-01 06:04] jrobinso commented on #52
Released as version 1.5.0

[2022-08-01 06:04] #52 closed

[2022-08-22 20:30] DevangThakkar opened #67 "Load file from private Google Cloud bucket"
Hi,

I was wondering if it is possible to load a BAM file from a Google Cloud bucket. I tried loading a public BAM (example code with only the BAM location replaced) and that didn't seem to work. I understand that igv.js is able to load private Google cloud storage if we provide it with the requisite credentials - would it be possible to extend that to igv-reports as well?

[code]

[2022-08-31 15:48] satyakam001 opened #68 "Option to filter/hide duplicate reads in igv-reports?"
Hello! While using the tool, there are snapshots containing duplicated reads from the BAM file. Is there an option to hide/remove these duplications? I saw that igv.js has had something like this resolved- is there something I can implement for igv-reports?
Thank you

[2022-09-03 17:39] jrobinso commented on #68
This should be possible.  I can't give an ETA, but if you want to do this yourself the relevant code is in "igv_reports/bam.py", specifically the "splice" function.  This uses pysam, which in turn uses samtools.   I think adding the filter "-F 1024" to args should filter reads marked duplicate,  but that would need to be confirmed with a test.

[2022-09-03 17:46] jrobinso commented on #67
@DevangThakkar Can you do this in python using pysam?  If you can,  igv-reports could be modified to do this.    See the file igv_reports/bam.py,  this is where alignments are read.

"gs" protocol will likely not be recognized by pysam, however the mapping of "gs" -> "https" protocol is a simple matter of parsing bucket and object name from the gs: url,  then adding the parameter "alt=media"

[cod

[2022-09-09 18:42] satyakam001 commented on #68
So I have not installed the program due to python and pip issues which I can't control, but I'm working with the docker container found at https://bioconda.github.io/recipes/igv-reports/README.html.
Do you think interactively running the docker container, finding the bam.py code within, making the said change, and running the docker container again is going to work (if I need to re-build it before

[2022-09-09 19:10] jrobinso commented on #68
@satyakam001 Sorry I really don't know anything about  Docker but it should work.

You do not need to build if you run the python directly, like this for example (from root directory)

[code]

To build a distribution

[code]

[2022-09-09 19:18] jrobinso commented on #68
This should be fairly easy, but I need to test it.   If you can supply a small BAM file with duplicates that would be helpful and maybe I can get to it in the next few days.

[2022-09-09 21:24] satyakam001 commented on #68
Yeah if I was running it directly, I would follow the above commands; I'll have to see how to implement in the docker container- if you could edit the .py file, build the newer image with the edited .py file and push the container, I can pull it and use it.
Annyway, I tried uploading a small test bam file with duplications; it says that the file type isn't supported- can I not attach bam files?

[2022-09-09 21:33] jrobinso commented on #68
Try zipping it first.  You should be able to upload a zip file.

[2022-09-09 21:43] satyakam001 commented on #68
[test_bam_igv_report.zip](https://github.com/igvteam/igv-reports/files/9538915/test_bam_igv_report.zip)
Please let me know if this doesn't work, I can send other files as well.
Thank you!

[2022-09-09 21:46] jrobinso commented on #68
That should work.

[2022-09-20 22:12] #68 closed

[2022-09-20 22:25] jrobinso commented on #68
His, this should be fixed now in release 1.6.0.  By default alignments marked duplicate will be filtered, but this can be controlled with the optional --exclude-flags parameter.   For example

[code]

[2022-09-21 03:51] jrobinso commented on #68
Correction -- use release 1.6.1 to use the --exclude-flags option.  Version 1.6.0 will filter duplicates but ignores --exclude-flags.

[2022-09-21 04:06] jrobinso commented on #67
@DevangThakkar Have you had a chance to experiment with pysam?  The gs -> https mapping is trivial, the challenge here is doing oAuth in python.     I'm curious what you have in mind here for "passing credentials",  you cannot of course just pass a username and password.   Did you have in mind an access token?   I'm not sure how you would do that securely.

[2022-09-21 19:48] DevangThakkar commented on #67
Hi @jrobinso I was actually able to figure this out! Support for oAuth was added to htslib using an environment variable so igv-reports also works as long as that htslib is able to access the file (see [#390](https://github.com/samtools/htslib/pull/390)). This issue can be closed.

[2022-09-21 19:48] #67 closed

[2022-09-21 21:03] jrobinso commented on #67
Ahh yes, perfect.

[2022-09-27 15:57] jrobinso opened #70 "Consider using CRAM format to reduce file size"
Consider converting alignments to CRAM format to reduce output file size.  See https://github.com/igvteam/igv.js/pull/1548.

[2022-09-27 20:45] satyakam001 commented on #68
Thank you so much, I shall be sure to try and let you know if there are any issues. But thank you for this!

[2022-11-04 15:26] RaphaelHablesreiter opened #71 "Change default display mode"
Hi,

is it possible to change the default mode for display settings of the alignment track?

Many thanks!

[2022-11-04 16:15] jrobinso commented on #71
I'm not sure which settings you are referring to, but you can use the --track-config option and use any settings available in igv.js.    See the readme and  https://github.com/igvteam/igv.js/wiki for more information.